
<div class="header" id="header">
	<div class="dtable">
		<div class="drow">
			<div class="dcell">
				<p class="title"> Recipe search </p>
				<p class="subtitle"> Search by ingredients</p>
				<div class="form">
					<form>
						<input type="text" placeholder="Type any term to search" (keyup)="search($event)">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="results" id="results">
	<div class="item" *ngFor="let recipe of data">
		<a target="_blank" href="{{recipe.href}}">
			<div class="image">
				<img *ngIf="recipe.thumbnail ===''" src="/src/img/icon.png">
				<img *ngIf="recipe.thumbnail !==''" src="{{recipe.thumbnail}}">
			</div>
			<div class="title">{{recipe.title}}</div>
			<div class="ingredients">{{recipe.ingredients}}</div>
		</a>
	</div>
</div>

<div class="clearfix"></div>
<div class="footer">
	Recipe Puppy Search. Violeta Macaya.
</div>

