
<div class="header">
	<div class="dtable">
		<div class="drow">
			<div class="dcell">
				<p class="title"> Recipe search </p>
				<p class="subtitle"> Search by ingredients</p>
				<div class="scroll">
					Scroll down						<br>
					<i class="fas fa-arrow-down"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="form">
		<form>
			<input type="text" placeholder="Type any term to search">
		</form>
	</div>
</div>

<div class="results">
	<div class="item">
		<a href="">
			<img src="http://img.recipepuppy.com/560556.jpg">
			<div class="title">Vegetable-Pasta Oven Omelet</div>
			<div class="ingredients">tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper</div>
		</a>
	</div>

	<div class="item">
		<a href="">
			<img src="http://img.recipepuppy.com/560556.jpg">
			<div class="title">Vegetable-Pasta Oven Omelet</div>
			<div class="ingredients">tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper</div>
		</a>
	</div>
	<div class="item">
		<a href="">
			<img src="http://img.recipepuppy.com/560556.jpg">
			<div class="title">Vegetable-Pasta Oven Omelet</div>
			<div class="ingredients">tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper</div>
		</a>
	</div>
	<div class="item">
		<a href="">
			<img src="http://img.recipepuppy.com/560556.jpg">
			<div class="title">Vegetable-Pasta Oven Omelet</div>
			<div class="ingredients">tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper</div>
		</a>
	</div>
</div>

<div class="clearfix"></div>
<div class="footer">
	Recipe Puppy Search. Violeta Macaya.
</div>

